name: Basic workflow

# Trigger
on: 
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        required: true
        description: Target environment

jobs:
  job1:
    name: Job 1
    environment: Production
    runs-on: ubuntu-latest
    steps:
      - name: Echo environment name
        run: echo ${{ inputs.environment }}
        
      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
